# **ì•„íŒŒíŠ¸ ì‹¤ê±°ë˜ê°€ ì˜ˆì¸¡ í”„ë¡œì íŠ¸**


## **Stage 2. ë¬¸ì œ ë° ëª¨ë¸ë§ì˜ ì´í•´ - ì•„íŒŒíŠ¸ ì‹¤ê±°ë˜ê°€ë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•´ í•„ìš”í•œ ê²ƒ**
<img src='http://drive.google.com/uc?export=view&id=1KpVIVt81WBwyz5bAAyvm0Lszl09ZTMjj' /><br>

### **INTRO**
ì§€ë‚œ ìŠ¤í…Œì´ì§€ **Stage 1. ë¬¸ì œ ê¸°ë°˜ ì‹¤ë¬´ í•™ìŠµ(PBL) ê°œìš” - ì•„íŒŒíŠ¸ ì‹¤ê±°ë˜ê°€ ì˜ˆì¸¡ í”„ë¡œì íŠ¸** ì—ì„œ **í”„ë¡œì íŠ¸ë¥¼ íŒŒì•…**í•˜ê³ , **íŒë‹¤ìŠ¤ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©**í•˜ì—¬ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì™€ì„œ ì œì¶œí–ˆìŠµë‹ˆë‹¤ ğŸ˜€  

ì•„íŒŒíŠ¸ ì‹¤ê±°ë˜ê°€ë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•´ **ê°€ì¥ ë¨¼ì € í•„ìš”í•œ ê²ƒ**ì€ ë¬´ì—‡ì¼ê¹Œìš”?    
**ëª¨ë¸ í•™ìŠµì„ ìœ„í•œ train ë°ì´í„°**ì™€ **ëª¨ë¸ í‰ê°€ë¥¼ ìœ„í•œ test ë°ì´í„°**ê°€ í•„ìš”í•©ë‹ˆë‹¤ ğŸ˜

ì´ë²ˆ ìŠ¤í…Œì´ì§€ëŠ” ë³€ìˆ˜ë“¤ì˜ **ê¸°ìˆ ì  í†µê³„**ì„ í™•ì¸í•˜ê³ , **train ë° test ë°ì´í„°ì…‹ì„ êµ¬ì„±**í•˜ì—¬ **ì„ í˜•íšŒê·€ ëª¨ë¸ì„ ì ìš©**í•  ì˜ˆì •ì…ë‹ˆë‹¤.    

ì´ì œ íŒë‹¤ìŠ¤ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì„í¬íŠ¸í•˜ê³ , ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì™€ë´…ì‹œë‹¤~

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('/content/drive/MyDrive/ë°ì´í¬ë£¨4ê¸°_ë¨¼ìŠ¤í¬ë£¨/data/dacon/train.csv') 
test = pd.read_csv('/content/drive/MyDrive/ë°ì´í¬ë£¨4ê¸°_ë¨¼ìŠ¤í¬ë£¨/data/dacon/test.csv')
park = pd.read_csv('/content/drive/MyDrive/ë°ì´í¬ë£¨4ê¸°_ë¨¼ìŠ¤í¬ë£¨/data/dacon/park.csv')
day_care_center = pd.read_csv('/content/drive/MyDrive/ë°ì´í¬ë£¨4ê¸°_ë¨¼ìŠ¤í¬ë£¨/data/dacon/day_care_center.csv')
submission = pd.read_csv('/content/drive/MyDrive/ë°ì´í¬ë£¨4ê¸°_ë¨¼ìŠ¤í¬ë£¨/data/dacon/submission.csv')

Mounted at /content/drive

### **1. ë³€ìˆ˜ ì¡°ì‚¬ ë° ê¸°ìˆ ì  í†µê³„**

ìš°ì„  ì£¼ì–´ì§„ ë°ì´í„°ë¥¼ ë¨¼ì € ë¶„ì„í•´ë³¼ê²Œìš”!    
head() í•¨ìˆ˜ë¡œ ë°ì´í„° êµ¬ì„±ì„ ë‹¤ì‹œ í™•ì¸í•´ë³¼ê¹Œìš”?

#### 1-1. ë³€ìˆ˜ ì¡°ì‚¬

In [3]:
train.head()

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,0,7622,ì„œìš¸íŠ¹ë³„ì‹œ,ì‹ êµë™,6-13,ì‹ í˜„(101ë™),ì‹ êµë™ 6-13 ì‹ í˜„(101ë™),84.82,2002,200801,21~31,2,37500
1,1,5399,ì„œìš¸íŠ¹ë³„ì‹œ,í•„ìš´ë™,142,ì‚¬ì§íŒŒí¬ë§¨ì…˜,í•„ìš´ë™ 142 ì‚¬ì§íŒŒí¬ë§¨ì…˜,99.17,1973,200801,1~10,6,20000
2,2,3578,ì„œìš¸íŠ¹ë³„ì‹œ,í•„ìš´ë™,174-1,ë‘ë ˆì—˜ë¦¬ì‹œì•ˆ,í•„ìš´ë™ 174-1 ë‘ë ˆì—˜ë¦¬ì‹œì•ˆ,84.74,2007,200801,1~10,6,38500
3,3,10957,ì„œìš¸íŠ¹ë³„ì‹œ,ë‚´ìˆ˜ë™,95,íŒŒí¬íŒ°ë¦¬ìŠ¤,ë‚´ìˆ˜ë™ 95 íŒŒí¬íŒ°ë¦¬ìŠ¤,146.39,2003,200801,11~20,15,118000
4,4,10639,ì„œìš¸íŠ¹ë³„ì‹œ,ë‚´ìˆ˜ë™,110-15,í‚¹ìŠ¤ë§¤ë„ˆ,ë‚´ìˆ˜ë™ 110-15 í‚¹ìŠ¤ë§¤ë„ˆ,194.43,2004,200801,21~31,3,120000

13ê°œì˜ ì»¬ëŸ¼ìœ¼ë¡œ ì´ë£¨ì–´ì§„ ë°ì´í„°ë„¤ìš”!

#### 1-2. ê¸°ìˆ  í†µê³„
íŒë‹¤ìŠ¤ì˜ describe() í•¨ìˆ˜ëŠ” ìˆ«ìí˜•(int, float ë“±) ë°ì´í„°ì— ëŒ€í•œ ê¸°ìˆ  í†µê³„ë¥¼ ì œê³µí•©ë‹ˆë‹¤.    
describe()ë¡œ ìˆ«ìí˜• ë°ì´í„°ì— ëŒ€í•œ ê¸°ìˆ  í†µê³„ë¥¼ í™•ì¸í•´ë³¼ê¹Œìš”?

##### **Inst.**
ê·¸ëŸ¼ ë¨¼ì € ì•ìœ¼ë¡œ ìš°ë¦¬ê°€ ë¶„ì„í•´ë³¼ ë°ì´í„°ë¥¼ ëŒ€ëµì ìœ¼ë¡œ í™•ì¸í•´ë³¼ê¹Œìš”?

1. train ë°ì´í„°ë¥¼ describe()ë¥¼ ì‚¬ìš©í•˜ì—¬ ìš”ì•½í•˜ì„¸ìš”.

In [ ]:
# 1. train ë°ì´í„°ë¥¼ describe()ë¥¼ ì‚¬ìš©í•˜ì—¬ ìš”ì•½í•˜ì„¸ìš”.

##### **Hint.**
- <font color="orange">describe()</font> ë¡œ íŒ¨í‚¤ì§€ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 
    - <font color="orange">OOOOO.OOOOOOO()</font>

##### **Solution.**

In [4]:
# 1. train ë°ì´í„°ë¥¼ describe()ë¥¼ ì‚¬ìš©í•˜ì—¬ ìš”ì•½í•˜ì„¸ìš”.
train.describe()

,transaction_id,apartment_id,exclusive_use_area,year_of_completion,transaction_year_month,floor,transaction_real_price
count,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06
mean,6.091530e+05,6.299685e+03,7.816549e+01,1.998297e+03,2.012984e+05,9.343291e+00,3.822769e+04
std,3.526198e+05,3.581169e+03,2.915113e+01,8.941347e+00,2.905732e+02,6.606500e+00,3.104898e+04
min,0.000000e+00,0.000000e+00,9.260000e+00,1.961000e+03,2.008010e+05,-4.000000e+00,1.000000e+02
25%,3.041380e+05,3.345000e+03,5.976000e+01,1.993000e+03,2.010100e+05,4.000000e+00,1.900000e+04
50%,6.082760e+05,5.964000e+03,8.241000e+01,1.999000e+03,2.013120e+05,8.000000e+00,3.090000e+04
75%,9.124140e+05,9.436000e+03,8.497000e+01,2.005000e+03,2.015110e+05,1.300000e+01,4.700000e+04
max,1.234827e+06,1.265800e+04,4.243200e+02,2.017000e+03,2.017110e+05,8.000000e+01,8.200000e+05

ì£¼ì–´ì§„ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ëŠ” ë°©ë²•ì€ í¬ê²Œ 3ê°€ì§€ ì •ë„ ìˆìŠµë‹ˆë‹¤.
ì›í•˜ëŠ” ì •ë³´ë¥¼ ì–»ê¸° ìœ„í•´ì„œ ê° ì½”ë“œì˜ íŠ¹ì§•ì„ ì•Œì•„ë‘ë©´ ì¢‹ìŠµë‹ˆë‹¤ :)     
describeë¥¼ ì´ìš©í•˜ë©´ ê°’ì˜ ë²”ìœ„ë¥¼ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.      
ì˜ˆë¥¼ë“¤ì–´ exclusive_use_areaì„ í™•ì¸í•˜ë©´ ê°’ì˜ ë²”ìœ„ê°€ ìµœì†Œ 9.26ì—ì„œ ìµœëŒ€ 424.32ì¸ê±¸ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.     

ë‹¨ìˆœ IDì™€ ë‚ ì§œë¥¼ ì œì™¸í•˜ê³  í•´ë‹¹ ë°ì´í„°ì˜ exclusive_use_area, year_of_completion, floor, transaction_real_priceì„ ì¤‘ì ì ìœ¼ë¡œ ë³´ë©´ ì¢‹ê² ë„¤ìš”!

### **2. ëª¨ë¸ë§ì„ ìœ„í•œ ë°ì´í„°ì…‹ ì¤€ë¹„(Train/Test)**

ì¶”ê°€ì ì¸ ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ê¸° ìœ„í•´ ì„œìš¸íŠ¹ë³„ì‹œì—ì„œ ê±°ë˜ëœ ë°ì´í„°ë§Œì„ ì¶”ì¶œí•˜ì—¬ ëª¨ë¸ trainì— ì´ìš©í•©ë‹ˆë‹¤.

In [8]:
train = train[train['city'] == 'ì„œìš¸íŠ¹ë³„ì‹œ']
test = test[test['city'] == 'ì„œìš¸íŠ¹ë³„ì‹œ']

ì•ì„œ ì„¤ëª…í•œ ì¤‘ìš” columnë§Œ ë¶„ì„ì— ì´ìš©í•˜ê¸° ìœ„í•´ ë¶ˆí•„ìš”í•œ columnì€ ì œì™¸í•©ë‹ˆë‹¤.

In [9]:
drop_columns =['transaction_id', 'apartment_id', 'city', 'dong', 'jibun', 'apt','addr_kr','transaction_date','transaction_year_month']
train.drop(drop_columns, axis=1,inplace=True)
test.drop(drop_columns, axis=1,inplace=True)

ì›í•˜ëŠ” ì»¬ëŸ¼ì´ ì œê±°ëëŠ”ì§€ í™•ì¸í•©ë‹ˆë‹¤.

In [10]:
train.head()

   exclusive_use_area  year_of_completion  floor  transaction_real_price
0               84.82                2002      2                   37500
1               99.17                1973      6                   20000
2               84.74                2007      6                   38500
3              146.39                2003     15                  118000
4              194.43                2004      3                  120000

ìš°ë¦¬ëŠ” ì´ì œ ì‹¤ê±°ë˜ê°€ë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•œ ì‚¬ì „ ì¤€ë¹„ëŠ” ëë‚¬ìŠµë‹ˆë‹¤.     
ë”°ë¼ì„œ ì‹¤ê±°ë˜ê°€ë¥¼ ë‚˜ë¨¸ì§€ ë³€ìˆ˜ë“¤ë¡œ ê°’ì„ ì˜ˆì¸¡í•˜ëŠ” ëª¨ë¸ì„ êµ¬ì„±í•´ì•¼í•©ë‹ˆë‹¤.
   
ì´ì— ë§ì¶° ì•„ë˜ì™€ ê°™ì´ ë…ë¦½ë³€ìˆ˜ë¡œ ì´ë£¨ì–´ì§„ Xì™€ ì˜ˆì¸¡ê°’ì¸ ì¢…ì†ë³€ìˆ˜ë¡œ ì´ë£¨ì–´ì§„ yë¥¼ ì„ ì–¸í•©ë‹ˆë‹¤.

In [11]:
X = train.drop('transaction_real_price', axis=1)
y = train[['transaction_real_price']]

   
ì¼ë°˜ì ìœ¼ë¡œ ëª¨ë¸ì„ í•™ìŠµí•  ë•Œ, 
- train: ëª¨ë¸ì˜ í•™ìŠµì„ ìœ„í•œ ë°ì´í„°
- validation: ëª¨ë¸ì˜ íŒŒë¼ë¯¸í„° ì—…ë°ì´íŠ¸ë¥¼ ìœ„í•œ ë°ì´í„°
- test: ëª¨ë¸ì˜ í‰ê°€ë¥¼ ìœ„í•œ ë°ì´í„°(í•™ìŠµì— ì‚¬ìš©í•˜ì§€ ì•ŠìŒ)    

ë¡œ ë‚˜ëˆ„ì–´ ì§„í–‰í•©ë‹ˆë‹¤.
ì•„ë˜ ê·¸ë¦¼ì„ ì°¸ê³ í•˜ì‹œë©´, ì´í•´í•˜ê¸° ì¢‹ìŠµë‹ˆë‹¤.
![train_test](https://cdn.imweb.me/upload/S202105076e626e4618b27/0f0c2df8f341c.png)

ë°ì´í„°ë¥¼ ë‚˜ëˆ ì„œ ì‚¬ìš©í•˜ë©´ ëª¨ë¸ì˜ í•™ìŠµì—ì„œ í™œìš©ë˜ì§€ ì•Šì€ test ë°ì´í„°ë¡œ íƒ€ë‹¹í•˜ê²Œ ëª¨ë¸ì„ í‰ê°€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
sklearnì˜ train_test_split ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì„í¬íŠ¸í•˜ì—¬ ì‚¬ìš©í•˜ê² ìŠµë‹ˆë‹¤.

In [12]:
from sklearn.model_selection import train_test_split

##### **Inst.**
ì´ë²ˆì—ì„œ trainê³¼ test ë°ì´í„°ë¡œë§Œ ë°ì´í„°ë¥¼ ë‚˜ëˆ ë³´ê² ìŠµë‹ˆë‹¤.  <br/> train_test_split() í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë‚˜ëˆ ë³¼ê¹Œìš”?  ğŸ¤—
1. train_test_split()ì„ ì´ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë¶„ë¦¬í•©ë‹ˆë‹¤. (ë‹¨, test_sizeëŠ” 0.2, random_stateëŠ” 42ë¡œ ì„¤ì •í•©ë‹ˆë‹¤)

In [13]:
# 1. train_test_split()ì„ ì´ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë¶„ë¦¬í•©ë‹ˆë‹¤. (ë‹¨, test_sizeëŠ” 0.2, random_stateëŠ” 42ë¡œ ì„¤ì •í•©ë‹ˆë‹¤)

##### **Hint.**
- train_test_split í•¨ìˆ˜ì˜ inputì—ëŠ” **x, y, test_size, random_state**ë¥¼ ì„¤ì •í•´ì•¼ í•©ë‹ˆë‹¤.

##### **Solution.**

In [14]:
# 1. train_test_split()ì„ ì´ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë¶„ë¦¬í•©ë‹ˆë‹¤. (ë‹¨, test_sizeëŠ” 0.2, random_stateëŠ” 42ë¡œ ì„¤ì •í•©ë‹ˆë‹¤)
train_X, test_X, train_Y, test_Y = train_test_split( X, y, test_size=0.2, random_state=42)

8:2ì˜ ë¹„ìœ¨ë¡œ ì˜ ë‚˜ëˆ ì¡ŒëŠ”ì§€ í™•ì¸í•©ë‹ˆë‹¤.    
shape í•¨ìˆ˜ë¡œ ë°ì´í„°ì˜ í–‰ê³¼ ì—´ì„ í™•ì¸í•  ìˆ˜ ìˆì–´ìš”!
- test_sizeëŠ” í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì˜ ë¹„ìœ¨ì„ ì˜ë¯¸í•´ìš”. (default=0.25)
- random_stateëŠ” ë°ì´í„° ë¶„í• ì‹œ ì…”í”Œì´ ì´ë£¨ì–´ì§€ëŠ”ë° ì´ë¥¼ ìœ„í•œ ì‹œë“œê°’ì„ ì˜ë¯¸í•´ìš”. ì‹¤ì œë¡œ ê°™ì€ ì‹œë“œê°’ì„ ì‚¬ìš©í•˜ë©´ ê°™ì€ data setì„ ì‚¬ìš©í•  ìˆ˜ ìˆì–´ìš”.

In [15]:
print(train_X.shape, test_X.shape, train_Y.shape, test_Y.shape)

(593828, 3) (148457, 3) (593828, 1) (148457, 1)

### **3. ê¸°ì´ˆ ëª¨ë¸ë§: ì„ í˜• íšŒê·€**

ìš°ì„ ì ìœ¼ë¡œ í•™ìŠµí•  ëª¨ë¸ì€ ì„ í˜•íšŒê·€ì…ë‹ˆë‹¤.    
ì„ í˜•íšŒê·€ëŠ” 
$$Y=WX+B$$
ì™€ ê°™ì´ ë…ë¦½ë³€ìˆ˜ Xì— ê°€ì¤‘ì¹˜ íŒŒë¼ë¯¸í„°ë¥¼ ê³±í•˜ê³ , ìƒìˆ˜ ë°”ì´ì–´ìŠ¤ë¥¼ ë”í•´ì„œ ì¢…ì†ë³€ìˆ˜ Yë¥¼ ì˜ˆì¸¡í•  ìˆ˜ ìˆì–´ìš”!     
sklearn ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ LinearRegressionì„ ì‚¬ìš©í•˜ê¸° ìœ„í•´ ë¨¼ì € ì„í¬íŠ¸í• ê²Œìš”.

In [16]:
from sklearn.linear_model import LinearRegression

    
##### **Inst.**
LinearRegression() í•¨ìˆ˜ë¡œ ì„ í˜•íšŒê·€ ëª¨ë¸ì„ ìƒì„±í•˜ê³ , fit() í•¨ìˆ˜ë¡œ ëª¨ë¸ì„ í•™ìŠµí•  ìˆ˜ ìˆì–´ìš”.    
ì„ í˜•íšŒê·€ ëª¨ë¸ì„ í•œ ë²ˆ í•™ìŠµì‹œì¼œë³¼ê¹Œìš”? ğŸ¤—

1. lrmodel ë³€ìˆ˜ì— ì„ í˜•íšŒê·€ ëª¨ë¸ì„ ì„ ì–¸í•©ë‹ˆë‹¤.
2. lrmodelì— train_X, train_Yë¥¼ fit í•©ë‹ˆë‹¤.

In [ ]:
# 1. lrmodel ë³€ìˆ˜ì— ì„ í˜•íšŒê·€ ëª¨ë¸ì„ ì„ ì–¸í•©ë‹ˆë‹¤.

In [ ]:
# 2. lrmodelì— train_X, train_Yë¥¼ fit í•©ë‹ˆë‹¤.

##### **Hint.**
- ì„ í˜•íšŒê·€ ëª¨ë¸ì€ LinearRegression()í•¨ìˆ˜ë¥¼ ì´ìš©í•´ìš”.
- ì„ í˜•íšŒê·€ ëª¨ë¸ì„ fit í•˜ê¸° ìœ„í•´ì„œëŠ” x,y ë°ì´í„°ê°€ í•„ìš”í•´ìš”

##### **Solution.**

In [17]:
# 1. lrmodel ë³€ìˆ˜ì— ì„ í˜•íšŒê·€ ëª¨ë¸ì„ ì„ ì–¸í•©ë‹ˆë‹¤.
lrmodel = LinearRegression()

In [18]:
# 2. lrmodelì— train_X, train_Yë¥¼ fit í•©ë‹ˆë‹¤.
lrmodel.fit(train_X, train_Y)

LinearRegression()

í•™ìŠµì„ ì™„ë£Œí•˜ê³  ë‚˜ì„œ ì‹¤ì œ ìš°ë¦¬ì˜ ëª¨ë¸ì´ ì–¼ë§ˆë‚˜ ì™„ë²½í•œì§€ í™•ì¸í•˜ê¸° ìœ„í•´ ì ìˆ˜ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.    
í”„ë¡œì íŠ¸ì—ì„œëŠ” RMSE(
í‰ê·  ì œê³±ê·¼ ì˜¤ì°¨)ê°€ í‰ê°€ ê¸°ì¤€ìœ¼ë¡œ ì‚¬ìš©í•˜ê³  ìˆì–´ìš”.   
RMSE ì‹ì€ ë‹¤ìŒê³¼ ê°™ì´ MSE(í‰ê·  ì œê³± ì˜¤ì°¨)ì— ì œê³±ê·¼ì„ ì·¨í•œ í˜•íƒœì…ë‹ˆë‹¤! 
$${\displaystyle \operatorname {RMSE} ({\hat {\theta }})={\sqrt {\operatorname {MSE} ({\hat {\theta }})}}={\sqrt {\operatorname {E} (({\hat {\theta }}-\theta )^{2})}}.}$$

RMSEë¥¼ ê³„ì‚°í•˜ê¸° ìœ„í•œ mean_squared_error ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ë¨¼ì € ì„í¬íŠ¸í•´ì•¼ í•´ìš”!

In [ ]:
# RSME ì„±ëŠ¥í‰ê°€ ê³„ì‚°ì„ ìœ„í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬
from sklearn.metrics import mean_squared_error

mean_squared_errorë¡œ RMSEë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ëŠ” MSEì— ì œê³±ê·¼ì„ ì·¨í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ì‘ì„±ë  ìˆ˜ ìˆì–´ìš”!

In [ ]:
def RMSE(y, y_pred):
    rmse = mean_squared_error(y, y_pred) ** 0.5
    return rmse

ì´ì œ RMSE í•¨ìˆ˜ë¡œ ëª¨ë¸ì„ ì˜ˆì¸¡í•´ë´…ì‹œë‹¤!

In [ ]:
print(RMSE(lrmodel.predict(train_X), train_Y))
print(RMSE(lrmodel.predict(test_X), test_Y))

24845.657717237664
24762.40551060151

RMSE ì ìˆ˜ëŠ” 24845 ë„¤ìš”!

ì¡°ê¸ˆ ì•„ì‰¬ìš´ ì ìˆ˜ì¸ê°€ìš”?   
ê·¸ë ‡ë‹¤ë©´ ë” ë†’ì€ ì •í™•ë„ë¥¼ ê°€ì§„ ëª¨ë¸ì„ ì°¾ê¸° ìœ„í•´ì„œ stage3ì—ì„œ ì´ì–´ì„œ ì§„í–‰ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.    
<img src='http://drive.google.com/uc?export=view&id=161p7_9jSKgi7s305nEmvwriJL_c0Vkmo' /><br>

ì—¬ê¸°ê¹Œì§€ ì§„í–‰í•˜ì‹œëŠë¼ ê³ ìƒí•˜ì…¨ìŠµë‹ˆë‹¤ ğŸ˜€